
body {
  background-color: #000000;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Georgia, serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
